# List Iteration:

# Create a list of your favorite movies.

In [79]:
movies = ["Avengers","Harry Potter","lightening McQueen"]

# Iterate over the list and print each movie title.

In [81]:
movies = ["Avengers","Harry Potter","lightening McQueen"]
for movie in movies:
     print(movie.title())

Avengers
Harry Potter
Lightening Mcqueen

# Modify the loop to print the index of each movie along with its title

In [83]:
movies = ["Avengers","Harry Potter","lightening McQueen"]
for i in range(len(movies)):
    print(i,  movies[i].title())

0 Avengers
1 Harry Potter
2 Lightening Mcqueen

# String Iteration:

# Create a string variable containing your full name.

In [86]:
first_name = "faria"
last_name = "akmal"
full_name = first_name+" " +last_name

# iterate over the string and print each character on a new line .

In [88]:
full_name = "faria akmal"
for char in full_name:
    print(char)

f
a
r
i
a

a
k
m
a
l

# count the number of vowels in the string.

In [90]:
full_name = "faria akmal"
count = sum(char in "aeiou"for char in full_name)